.App {
  margin: 20px auto;
  width: 500px;
}
.Person {
  border: 1px solid red;
}
img {
  max-width: 100%;
}
.Tweet {
  padding: 20px;
  width: 300px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 20px;
}

.tweet-body {
  font-size: 12px;
  margin: 0;
}

.tweet-avi {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.NavBar {
  width: 100%;
  font-family: Quicksand;
}

.NavBar ul {
  padding: 0;
}

.NavBar ul li {
  display: inline-block;
  margin-right: 10px;
}

.NavBar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.NavBar ul li a:hover,
.NavBar ul li a:active {
  color: tomato;
}

.NavBar ul li a.active {
  color: tomato;
}

.Post {
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.Post a {
  text-decoration: none;
}

.Post h3 {
  font-family: Quicksand;
  color: #333;
  margin-bottom: 3px;
  text-transform: capitalize;
}

.Post p {
  margin-top: 8px;
}